@page
@using evently.Models
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@section Styles {
  <link rel="stylesheet" href="~/css/index.css" />
  <link rel="stylesheet" href="~/css/events/list.css" />
    <link rel="stylesheet" href="~/css/events/event.css" />
}

<h1>The ultimate platform for finding all sorts of events</h1>
<h3>Whether you're looking to develop new skills, network with industry professionals, or just find something fun, we have it all!</h3>    
<div id="latest-events" class="events-container">
  <h2>Upcoming Events</h2>
  <div class="event-list">
    @foreach (var e in Model.LatestEvents) {
      <partial name="Events/_Event" model="e"/>
    }
  </div>
</div>

<div id="cheapest-events" class="events-container">
  <h2>Cheapest Events</h2>
  <div class="event-list">
    @foreach (var e in Model.CheapestEvents) {
      <partial name="Events/_Event" model="e"/>
    }
  </div>
</div>