body {
    display: block;
    margin: 60px 40px;
}
h2 {
    margin: 0 0 20px;
}
.ticket-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}
.ticket-header-container * {
    margin-bottom: 0;
}
.ticket-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 22px 0;
    padding: 18px 28px;
    background-color: var(--white);
    outline: 1px solid var(--outline);
    flex: 1;
}
.ticket-main-details h3, .ticket-main-details p {
    margin: 4px 0;
}
.ticket-container img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}