@page
@model soft20181_starter.Pages.Events.Index

@{
}

@section Styles {
  <link rel="stylesheet" href="~/css/events/list.css" />
}

<h1 style="margin-bottom: 0.1em;" id="title">Search results for </h1>
<h3 style="margin-top: 0;">Showing all results</h3>

<!-- <button class="btn" id="make-test-events">Test Events (+100)</button> -->
<div class="event-list"></div>

<div class="bottom-fade"></div>