@page
@model soft20181_starter.Pages.ContactModel
@{
  ViewData["Title"] = "Contact";
}

@section Styles {
  <link rel="stylesheet" href="~/css/contact.css" />
}

<h1 style="margin-bottom: 0.1em;" id="title">Contact Us</h1>
<h3 style="margin-top: 0;">Got any questions or suggestions? Let us know here!</h3>

<section class="contact-form-container">
  <div class="loader">
    <img src="assets/loader.gif" alt="loading spinner"/>
    <h3></h3>
    <span>Click to refresh page</span>
  </div>
  <form id="contact-form" method="post">
    <div class="form-input">
      <label asp-for="ContactInfo.FirstName">First Name</label>
      <span asp-validation-for="ContactInfo.FirstName" class="validation"></span>
      <input asp-for="ContactInfo.FirstName" placeholder="John" required>
    </div>
    <div class="form-input">
      <label asp-for="ContactInfo.LastName">Last Name</label>
      <span asp-validation-for="ContactInfo.LastName" class="validation"></span>
      <input asp-for="ContactInfo.LastName" placeholder="Doe" required>
    </div>
    <div class="form-input">
      <label asp-for="ContactInfo.Email">Email</label>
      <span asp-validation-for="ContactInfo.Email" class="validation"></span>
      <input asp-for="ContactInfo.Email" placeholder="name@domain.com" required>
    </div>
    <div class="form-input">
      <label asp-for="ContactInfo.Phone">Phone Number (optional)</label>
      <span asp-validation-for="ContactInfo.Phone" class="validation"></span>
      <input asp-for="ContactInfo.Phone" placeholder="01234567890">
    </div>
    <div class="form-input">
      <label asp-for="ContactInfo.EventName">Event Name (optional)</label>
      <span asp-validation-for="ContactInfo.EventName" class="validation"></span>
      <input asp-for="ContactInfo.EventName" placeholder="A great event">
    </div>
    <div class="form-input">
      <label asp-for="ContactInfo.EventHost">Event Host (optional)</label>
      <span asp-validation-for="ContactInfo.EventHost" class="validation"></span>
      <input asp-for="ContactInfo.EventHost" placeholder="AnEventlyUser_123">
    </div>
    <div class="form-input">
      <label asp-for="ContactInfo.Message">Description of issue or suggestion</label>
      <span asp-validation-for="ContactInfo.Message" class="validation"></span>
      <textarea type="text" asp-for="ContactInfo.Message" placeholder="Start typing here..." required></textarea>
    </div>
    @* <div class="g-recaptcha" data-sitekey="6LdcOyApAAAAADTPWLvEi0RMgb3CpEDD4AYqth6V" data-callback="onContactRecaptchaSubmit" data-expired-callback="onContactRecaptchaExpire"></div> *@
    @* <span class="captcha-warning">Please complete the reCaptcha before submitting this form.</span> *@
    <div class="divider faded"></div>
    <section class="send-container">
      <button class="send-button">SEND <span class="material-symbols-outlined">chevron_right</span></button>
    </section>
  </form>
</section>