@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<form method="post" id="account">
    <h1>Forgot Password</h1>
    <h3>Remembered your password? <a asp-page="./Login" asp-area="Identity">Login here</a></h3>
    
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-input">
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="divider faded"></div>
    <div class="right-align">
        <button id="login-submit" type="submit">Send Reset Link <span class="material-symbols-outlined">chevron_right</span></button>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
