.event-list {
    display: flex;
    flex-wrap: wrap;
    color: var(--text);
    margin-top: 18px;
}

.event {
    flex-direction: column;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--outline);
    width: 275px;
    display: flex;
    transition: box-shadow 0.2s ease-in-out;
}

.event:hover {
    box-shadow: 0 0 10px var(--shadow);
    cursor: pointer;
}
.event-image-container {
    aspect-ratio: 1/0.9;
    overflow: hidden;
    display: flex;
}
.event-image-container > img {
    aspect-ratio: 1/0.9;
    object-fit: cover;
    transform: scale(1);
}
.event:hover > .event-image-container > img {
    animation: zoom-in 0.2s ease-in-out forwards;
}
.event > .event-info {
    display: flex;
    flex-direction: column;
    /* text-wrap: wrap; */
    flex-wrap: wrap;
    padding: 8px;
    border-top: 1px solid var(--outline);
}
.event > .event-info > h3 {
    margin-top: 0;
    height: 2.2em;
    margin-bottom: 10px;
}
.event > .event-info > .event-detail-container {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.event > .event-info > .event-detail-container > span {
    margin-right: 4px;
    color: var(--text);
}
.event > .event-info > .event-detail-container > .event-detail {
    color: var(--text-light);
    margin: 0;
}
.event > .event-info > .event-price-container > .event-detail {
    margin: 8px 2px;
    font-weight: var(--font-weight-subheading);
    font-size: var(--font-size-subheading);
}
.event.loading {
    border-width: 1px;
    background-color: var(--shadow);
    animation: loading 1s infinite;
}
.event.loading > .event-info > h3 {
    background-color: var(--white);
    color: var(--white);
    animation: loading 1s infinite;
    border-radius: 5px;
    width: 85%;
    font-size: 0%;
    height: 2vh;
}
.event-loading > .event-info > .event-detail-container {
    animation: loading 1s infinite;
    border-radius: 5px;
    margin-right: 60%;
    height: 1.2vh;
    font-size: 0%;
}
.event.loading > .event-info > .event-detail-container > p {
    background-color: var(--white);
    color: var(--white);
}
.event-loading > .event-info > .event-price-container {
    animation: loading 1s infinite;
    border-radius: 5px;
    margin-right: 60%;
    height: 1.2vh;
    font-size: 0%;
}
.event.loading > .event-info > .event-price-container > .event-detail {
    background-color: var(--white);
    color: var(--white);
    width: 30%;
}
.event.loading > img {
    background-color: var(--outline);
    animation: loading 1s infinite;
}

@media screen and (max-width: 800px) {
    .main-container {
        margin: 10px 6%;
    }
    .event {
        width: 48%;
        margin-bottom: 16px;
    }
    .event > .event-image-container > img {
        width: 100%;
    }
    .event-info > h3 {
        font-size: 1.2em;
    }
    .event-info > .event-detail-container > p {
        font-size: 0.8em;
        font-weight: var(--font-weight-tooltip);
    }
    .event-info > .event-price-container > .event-detail {
        font-size: 0.1em;
    }
}
@media screen and (max-width: 650px) {
    .event {
        width: 100%;
    }
    .event > .event-image-container > img {
        width: 100%;
    }
    .event-info > h3 {
        font-size: 1em;
    }
}

#youtube-video {
    width: 100%;
    position: relative;
    aspect-ratio: 16/9;
}