.page-switcher {
    border-top: 1px solid #e0e0e0;
    margin-top: 1em;
    padding-top: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.page-switcher > div {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #e0e0e0; */
}
.main-container > p:nth-child(2) {
    margin-top: 0;
    color: var(--text-light);
}
.prev-next-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    cursor: pointer;
}
.prev-next-container.disabled {
    cursor: default;
}
.prev-next-container > .material-symbols-outlined {
    font-size: 130%;
    color: var(--text);
}
.page-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 18px;
}
.page-number {
    padding: 0.5em 1em;
    border-radius: 4px;
    color: var(--text);
    cursor: pointer;
}
.page-number.active {
    border: 1px solid #e0e0e0;
    cursor: default;
}