<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Evently</title>

    @*  Section for CSS Start *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/navbar.css" asp-append-version="true" />
    
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    @await RenderSectionAsync("Styles", required: false)
    @*  Section for CSS End *@
</head>

<body>
    <partial name="_Navbar"/>
    <div class="main-container">
        @RenderBody()
    </div>


    @*  Footer Section Start *@
    <footer>
        <span>©2024 Josh Villyat | All rights reserved</span>
        <span>hello@joshaaron.me</span>
        <span>Evently</span>
    </footer>
    @*  Header Section End *@



    @*  Add Site Wide JavaScript Start *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/scripts/site.js" asp-append-version="true"></script>
    <script src="~/scripts/navbar.js" asp-append-version="true"></script>
    <script src="~/scripts/event-item.js" asp-append-version="true"></script>    
    @*  Add Site Wide JavaScript End *@


    @*  Section for Scripts Start *@
    @await RenderSectionAsync("Scripts", required: false)
    @*  Section for Scripts End *@
</body>
</html>