h1 {
    margin-bottom: 0;
}
h3 {
    margin-top: 8px;
    margin-bottom: 24px;
    color: var(--text-tooltip);
}
h3 > a {
    text-decoration: none;
    color: var(--accent);
}
#forgot-password {
    text-decoration: none;
    color: var(--text-tooltip);
}
.form-input {
    color: var(--text);
    margin-bottom: 12px;
}
#account {
    max-width: 600px;
}
button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: var(--font-size-subheading);
    color: var(--accent);
    font-weight: bolder;
    cursor: pointer;
    padding: 0;
}
button > span {
    color: var(--accent);
}
.right-align {
    display: flex;
    justify-content: flex-end;
}
.text-danger {
    padding-left: 8px;
    padding-top: 4px;
}

.event-list {
    width: max-content;
}
.event-list-container {
    width: 100%;
    overflow-x: scroll;
}
.your-events-title-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .event {
        width: 275px;
        margin-bottom: unset;
    }
    .event-info h3 {
        font-size: unset;
    }
}
@media screen and (max-width: 650px) {
    .event {
        width: 275px;
        margin-bottom: unset;
    }
    .event-info h3 {
        font-size: unset;
    }
    .your-events-title-container {
        justify-content: space-between;
    }
}