.booking {
    display: flex;
    width: 100%;
    background: var(--white);
    box-shadow: 0 0 5px var(--outline);
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
}
.booking-details {
    display: flex;
    flex-direction: column;
}
.booking-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0;
}
a {
    color: var(--accent);
    text-decoration: none;
    font-weight: var(--font-weight-tooltip);
}