<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Evently</title>

    @*  Section for CSS Start *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/navbar.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    @await RenderSectionAsync("Styles", required: false)
    @*  Section for CSS End *@

</head>
<body>
   @*  Header Section Start *@
    <nav>
        <!-- Side Navbar (sidebar) -->
        <div class="navbar-side mobile">
          <section class="navbar-links mobile">
            <a id="my-account" class="navbar-link" style="background-color: var(--accent); color: var(--white-default)" href="/account">ACCOUNT &nbsp;<span class="material-symbols-outlined" style="color: var(--white-default)">person</span></a>
            <a class="navbar-link" href="/index">HOME</a>
            <a class="navbar-link" href="/contact">CONTACT</a>
            <a class="navbar-link" href="/events">EVENTS</a>
            <a class="navbar-link" href="/appearance">APPEARANCE</a>
          </section>
        </div>
    
        <div class="personalisation-menu desktop">
            <h2>Personalisation</h2>
            <section class="options">
                <div class="option-category">
                    <h3>Font Size</h3>
                    <div class="option">
                      <input type="radio" name="font-size" id="small">
                      <label for="small">Small</label>
                    </div>
                    <div class="option">
                      <input type="radio" name="font-size" id="medium">
                      <label for="medium">Medium</label>
                    </div>
                    <div class="option">
                      <input type="radio" name="font-size" id="large">
                      <label for="large">Large</label>
                    </div>
                </div>
                <div class="option-category">
                    <h3>Colour Scheme</h3>
                    <div class="option">
                      <input type="radio" name="colour-scheme" id="light">
                      <label for="light">Light</label>
                    </div>
                    <div class="option">
                      <input type="radio" name="colour-scheme" id="dark">
                      <label for="dark">Dark</label>
                    </div>
                    <div class="option">
                      <input type="radio" name="colour-scheme" id="system">
                      <label for="system">System</label>
                    </div>
                </div>
                <div class="option-category">
                    <h3>Font Family</h3>
                    <div class="option">
                      <input type="radio" name="font-family" id="font-1">
                      <label for="font-1">Verdana</label>
                    </div>
                    <div class="option">
                      <input type="radio" name="font-family" id="default">
                      <label for="default">Default</label>
                    </div>
                    <div class="option">
                      <input type="radio" name="font-family" id="font-2">
                      <label for="font-2">Times New Roman</label>
                    </div>
                </div>
            </section>
        </div>
    
        <!-- Top Navbar -->
        <div class="navbar-top">
    
          <!-- Top Navbar: Top Section (searchbar, logo) -->
          <section class="navbar-top-top">
    
            <!-- Top Navbar: DESKTOP Search Bar -->
            <form id="search-form" method="post" class="search-bar-container desktop">
              <input type="text" placeholder="Search" form="search-form">
              <button class="material-symbols-outlined" form="search-form">search</button>
            </form>
            <img src="/assets/logo.svg" alt="Logo" class="logo">
            <div class="desktop">
              <a id="my-account" class="material-symbols-outlined desktop" href="/account">person</a>
              <span id="toggle-appearance" class="material-symbols-outlined desktop">lightbulb</span>
            </div>
    
            <!-- Top Navbar: MOBILE icons -->
            <span id="burger-menu" class="material-symbols-outlined mobile">menu</span>
            <span id="mobile-search" class="material-symbols-outlined mobile">search</span>
          </section>
    
          <!-- Top Navbar: Page Links -->
          <section class="navbar-links desktop">
            <a class="navbar-link" href="/contact">CONTACT</a>
            <a class="navbar-link" href="/index">HOME</a>
            <a class="navbar-link" href="/events">EVENTS</a>
          </section>
    
          <!-- Top Navbar: MOBILE search bar -->
          <form id="search-form-mobile" method="post" class="mobile-search-bar-container">
            <input type="text" placeholder="Search" form="search-form-mobile">
            <button class="material-symbols-outlined" form="search-form-mobile">search</button>
          </form>
        </div>
    </nav>
    @*  Header Section End *@

   

    <div class="main-container">
      @RenderBody()
    </div>


    @*  Footer Section Start *@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Evently
        </div>
    </footer>
    @*  Header Section End *@



    @*  Add Site Wide JavaScript Start *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/site.js" asp-append-version="true"></script>
    <script src="~/scripts/navbar.js" asp-append-version="true"></script>
    @*  Add Site Wide JavaScript End *@


    @*  Section for Scripts Start *@
    @await RenderSectionAsync("Scripts", required: false)
    @*  Section for Scripts End *@
</body>
</html>